*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}


body{
    background-color: whitesmoke;
}

.header{
    background-color: rgb(190, 235, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.heading{
    padding: 10px;
    color: pink;
    cursor: pointer;
}

.container {
    margin-top: 10rem;
    padding: 5px;
    width: 280px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}


.inpt{
    width: 250px;
    padding: 10px;   
    margin-top: 25px;
    margin-bottom: 25px;
}

.inpt:hover{
    cursor: pointer;
}

.btn{
    /* padding: 10px 20px; */
    width: 50px;
    margin: 5px;
    background-color: rgb(190, 235, 255);
    color: rgb(63, 57, 57);
    text-align: center;
    border: 2px solid black;
    font-weight: bolder;
}

.sp{
    background-color:pink ;
}

.btn:hover{
    cursor: pointer;
    z-index: 2;
    color: white;
    background-color: skyblue;
}

.sp:hover{
    background-color:palevioletred;
}

/* .btn1 , .btn2 , .btn17{
    padding: 10px 14px;
}*/
.btn19{
    width: 110px;
} 

